# Python files
__pycache__/
*.py[cod]

# Python testing files
.coverage

# Ignore macOS Finder meta
.DS_Store
.tm_properties

# Ignore optional build / cache directory
/build

# Windows Chromium shell build outputs
/windows_chromium/shell/.vs/
/windows_chromium/shell/obj/
/windows_chromium/shell/out/
/windows_chromium/shell/packages/
/windows_chromium/shell/packages-resolved/
